p {
  text-align: justify;
}

.my-pic
{
    margin: 0 auto;
    display: block;
    max-height: 300px;
}

/*.logo
{
   padding-left: 785px;
} */

.item {
   font-size: 20px;
}

.description {
   font-size: 15px;
   padding-left: calc( 20px );
}

.aParent div {
  /*float: left;*/
  clear: none; 
}

.spacer25 {
    height: 25px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    lear: both;
}


.span4 {
    float: left;
    clear: none;
    width: 350px;
    padding-right: 20px;
}
