p {
  text-align: justify;
}

.my-pic
{
    margin: 0 auto;
    display: block;
    max-height: 300px;
}

/*.logo
{
   padding-left: 785px;
} */

.item {
   font-size: 20px;
}

.description {
   font-size: 15px;
   padding-left: calc( 20px );
}
