

<div class="container">

    <div class="row">
    
        <div class="span4">
        <h2><a href="http://people.binf.ku.dk/rnq313/BMS_1/html"><img src="/assets/images/cute.mice.jpg" class="img-polaroid" width="35" height="35"> Microarray data analysis</a></h2>
        <p><strong>What I needed:</strong><br>A backup tool for my Google Calendar with the ability to run unattended</p>
        <p><strong>What I learned:</strong></p><ul>
          
          <li>Downloading files from the internet from PowerShell via .NET System.Net.WebClient</li>
          
          <li>Each Google Calendar <a href="https://support.google.com/calendar/answer/37648#view_only">has a secret download link</a></li>
          
        </ul><p></p>
        </div><!--/span-->
        <div class="row visible-phone spacer25"></div>




        <div class="span4">
        <h2><a href="/tasko/"><img src="/php/cache/img/tasko-logo128x128.png" class="img-polaroid" width="35" height="35"> Tasko</a></h2>
        <p><strong>What I needed:</strong><br>A ToDo app for my Android phone. I could have used an existing one, but decided to write one myself for learning purposes (mobile app with web service backend)</p>
        <p><strong>What I learned:</strong></p><ul>
          
          <li>Creating a web service with <a href="http://www.asp.net/web-api">ASP.NET Web API</a> <em>(and <a href="/2013/08/02/basic-authentication-in-asp-net-web-api/">Basic Authentication</a>, but I later <a href="https://bitbucket.org/christianspecht/tasko/commits/a6002d771c33ce23c62f16aa116262bcdb351c55">switched to token-based authentication</a>)</em> and hosting it on <a href="https://appharbor.com/">AppHarbor</a></li>
          
          <li>Using a <a href="http://en.wikipedia.org/wiki/NoSQL">NoSQL database</a>, in this case <a href="http://ravendb.net/">RavenDB</a></li>
          
          <li>Writing a native <a href="http://www.android.com/">Android</a> app</li>
          
        </ul><p></p>
        </div><!--/span-->
    
    </div><!--/row-->
    <div class="row spacer25"></div>

</div>


